@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-light;
  // padding: 3rem;
  box-sizing: border-box;
}

.heading-primary {
  color: $color-white;
  backface-visibility: hidden;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  

  &--main {
    display: block;
    font-size: 6rem;
    letter-spacing: 2rem;
    font-weight: 300;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 2px $color-secondary-dark;

    animation: moveInLeft 1s ease-out;
  }

  &--sub {
    display: block;
    font-size: 3rem;
    letter-spacing: .5rem;
    color: $color-secondary-light;
    text-shadow: 2px 2px 2px $color-tertiary-dark;

    animation: moveInRight 1s ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: $color-secondary-light;
  text-shadow: 2px 2px 2px $color-secondary-dark;
  
  animation: moveInBottom 1s ease-out;

  span { display: block; }
}

.contact {
  a {
    text-decoration: none;
  }

  &__info {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 3rem;
    color: #F39BDF;
    text-shadow: 2px 2px 2px #610CB8;
    text-transform: uppercase;
  }

  &__soc-links {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 3rem;
    color: $color-white;
    text-shadow: 2px 2px 2px $color-secondary-dark;
    font-family: monospace;
  }
}