
//  COLORS  //
$color-white: #fff;
$color-black: #000;

$color-grey-light: #999;
$color-grey-med: #777;
$color-grey-dark: #333;

$color-primary-light: #F39BDF;
$color-primary-med: #DC43BB;
$color-primary-dark: #C30098;

$color-secondary-light: #ACA6F1;
$color-secondary-med: #6057D8;
$color-secondary-dark: #2316BC;

$color-tertiary-light: #A970E3;
$color-tertiary-med: #904CD6;
$color-tertiary-dark: #610CB8;

//  FONT  //
$def-font-size: 1.6rem;

//  GRID  //
$grid-width: 114rem;
$gutter-v: 8rem;
$gutter-h: 6rem;

//  FORMAT  //
$border-radius-sm: 3px;
$border-radius-lg: 10px;




