
//  COLORS  //
$color-white: #fff;
$color-black: #000;

$color-grey-dark: #999;
$color-grey-darker: #777;
$color-grey-darkest: #333;

// Dipped in Ombre
$color-mauve: #BA7DB0;
$color-sand-dollar: #CECBB0;
$color-orchid: #6C3050;
$color-green: #5E6410;

// Under the Ferns
$color-kelly-green: #18A558;
$color-neon-green: #A3EBB1;
$color-blue-green: #21B6A8;
$color-green-2: #116530;

//  FONT  //
$def-font-size: 1.6rem;

//  GRID  //
$grid-width: 114rem;
$gutter-v: 8rem;
$gutter-h: 6rem;

//  FORMAT  //
$border-radius-sm: 3px;
$border-radius-lg: 10px;



